<h1>Dashboard#index</h1>
<%# <div class="container">
  <div class="row">
    <div class="col-4"> %>
      <%= render "asset/index_all_assets", all_assets_hash: @all_assets_hash %>
    <%# </div>
    <div class="col-6"></div> %>
      <%= render "price_point/index_pp" %>
  <%# </div>
</div> %>
