// Define variables for your color scheme

// For example:
$salt-box: #66626a;
$charade: #242533;
$fruit-salad: #549858;
$geebung: #d18820;
$pomegranate: #f44336;
$gray: #0E0000;
$light-gray: #F4F4F4;
$scampi: #6a6cb5;
$pewter: #92a3a1;
$satin-linen: #e0dacc;
$satin-linen-darker:#eeeedc;

// colors general
$dark-green: #004445;
$green: #2C7873;
$light-green: #6FB98F;
$yellow: #FFD800;

// Category Colors https://colorhunt.co/palette/0044452c78736fb98fffd800

$dark-green: #004445;
$green: #2C7873;
$cash: #6FB98F;
$crypto: #FFD800;
