<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="d-flex">
        <span>$40000</span>
        <span>12.02.2022</span>
        <span>Had to spend 10k on my car</span>
      </div>
    </div>
  </div>
</div>
