<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4">
      <%# loop starts here %>
        <div class="asset-card border-left-primary shadow h-100 py-2">
            <div class="asset-card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Earnings (Monthly)
                        </div>
                        <div class="card-value mb-0 font-weight-bold text-gray-800">
                          $40,000
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
      <%# loop ends here %>
    </div>
  </div>
</div>
