<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4">
      <%# loop starts here %>
        <div class="asset-card asset-card-light padding-x-spacing-5 padding-y-spacing-5">
            <div class="asset-card-body asset-card-body-light">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Earnings (Monthly)</div>
                        <div class="margin-bottom-spacing-0 margin-top-spacing-3 asset-card-value font-weight-bold">$40,000</div>
                    </div>
                    <div class="col-auto">
                        <i class="securities fa-2x text-primary"></i>
                    </div>
                </div>
            </div>
        </div>
      <%# loop ends here %>
    </div>
  </div>
</div>
