    <div class="banner" style="background-image: linear-gradient(rgba(41, 67, 78, 0.25), rgba(41, 67, 78, 1)), url('assetz/home.png');">
      <div class="container text-center">
        <h1>A diary to track your financial growth!</h1>
        <p class="mb-3">Write your own financial history</p>
        <br>
        <% if current_user %>
          <a class="cta cta-light" href="/dashboard"> Go to dashboard</a>
        <% else %>
          <a class="cta cta-light" href="users/sign_up">Register now</a>
        <% end %>
      </div>
    </div>
<section class="dark py-5 margin-top-negative-section">
<div class="container">
  <div class="row my-5 justify-content-center">
    <div class="col-6 text-center">
      <h2 class="primary-text">Keep track of all your financial decisions</h2>
    </div>
  </div>
  <div class="row mb-5 justify-content-around">
    <div class="col-8 col-lg-3 text-center mb-5 mb-lg-0">
    <i class="fas fa-coins fa-3x text-light"></i>
      <h3 class="pb-2 pt-4 primary-text">All your assets in one place</h3>
      <p class="primary-text">Are you struggling to keep track of all your valuable assets? Not anymore. Capture and update the values of all your assets in one place.</p>
    </div>
    <div class="col-8 col-lg-3 text-center mb-5 mb-lg-0">
      <i class="fas fa-comment-dollar fa-3x text-light"></i>
      <h3 class="pb-2 pt-4 primary-text">Make financial diary entries</h3>
      <p class="primary-text">Are you unsure why you made those regrettable financial decisions in the past? Not anymore. Keep track of your decisions with regular diary entries.</p>
    </div>
    <div class="col-8 col-lg-3 text-center mb-5 mb-lg-0">
      <i class="fas fa-chart-line fa-3x text-light"></i>
      <h3 class="pb-2 pt-4 primary-text">Track your performance</h3>
      <p class="primary-text">Achieve your financial goals by getting an overview of how your assets have performed over the years.</p>
    </div>
  </div>
  </div>
</section>
