<h1>Landing Page#home</h1>
<p>Nice Banner :)</p>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4">
      <%# loop starts here %>
        <div class="asset-card asset-card-light padding-x-spacing-5 padding-y-spacing-5">
            <div class="asset-card-body asset-card-body-light">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Earnings (Monthly)</div>
                        <div class="margin-bottom-spacing-0 margin-top-spacing-3 asset-card-value font-weight-bold">$40,000</div>
                    </div>
                    <div class="col-auto">
                        <i class="cash fa-2x text-primary"></i>
                    </div>
                </div>
            </div>
        </div>
      <%# loop ends here %>
    </div>
    <div class="col-12 col-lg-8 activities activities-light padding-x-spacing-5 padding-lg-x-spacing-6 padding-y-spacing-5">
      <%# loop starts here %>
      <div class="d-flex padding-y-spacing-4">
        <span class="activities-value">$40000</span>
        <span class="activities-date">12.02.2022</span>
        <span class="activities-comment">Had to spend 10k on my car</span>
      </div>
      <%# loop ends here %>
      <div class="d-flex activities-row margin-x-spacing-negative-5 margin-lg-x-spacing-negative-6"></div>
      <div class="d-flex padding-y-spacing-4">
        <span class="activities-value">$40000</span>
        <span class="activities-date">12.02.2022</span>
        <span class="activities-comment">Had to spend 10k on my car</span>
      </div>
      <div class="d-flex activities-row margin-x-spacing-negative-5 margin-lg-x-spacing-negative-6"></div>
      <div class="d-flex padding-y-spacing-4">
        <span class="activities-value">$40000</span>
        <span class="activities-date">12.02.2022</span>
        <span class="activities-comment">Had to spend 10k on my car</span>
      </div>
      <div class="d-flex activities-row margin-x-spacing-negative-5 margin-lg-x-spacing-negative-6"></div>
      <div class="d-flex padding-y-spacing-4">
        <span class="activities-value">$40000</span>
        <span class="activities-date">12.02.2022</span>
        <span class="activities-comment">Had to spend 10k on my car</span>
      </div>
      <div class="d-flex activities-row margin-x-spacing-negative-5 margin-lg-x-spacing-negative-6"></div>
      <div class="d-flex padding-y-spacing-4">
        <span class="activities-value">$40000</span>
        <span class="activities-date">12.02.2022</span>
        <span class="activities-comment">Had to spend 10k on my car</span>
      </div>
    </div>

  </div>
</div>
