    <div class="banner" style="background-image: linear-gradient(rgba(41, 67, 78, 0.25), rgba(41, 67, 78, 1)), url('assetz/home.png');">
      <div class="container text-center">
        <h1>A diary to track your financial growth!</h1>
        <p class="mb-3">Write your own financial history</p>
        <br>
        <a class="cta cta-light" href="users/sign_up">Register now</a>
      </div>
    </div>
<section class="dark py-5 margin-top-negative-section">
<div class="container">
  <div class="row my-5 justify-content-center">
    <div class="col-6 text-center">
      <h2 class="primary-text">Keep track of all your financial desicions</h2>
    </div>
  </div>
  <div class="row mb-5 justify-content-around">
    <div class="col-8 col-lg-3 text-center mb-5 mb-lg-0">
    <i class="fas fa-coins fa-3x text-light"></i>
      <h3 class="pb-2 pt-4 primary-text">All your assets on the smae place</h3>
      <p class="primary-text">Are you striving to keep an overview of all your precious assets? Not anymore. Enter and update the values of all your assets in one place.</p>
    </div>
    <div class="col-8 col-lg-3 text-center mb-5 mb-lg-0">
      <i class="fas fa-comment-dollar fa-3x text-light"></i>
      <h3 class="pb-2 pt-4 primary-text">Make financail diary entries</h3>
      <p class="primary-text">Uncertain why you made those regrettable financial decisions in the past? Not anymore. Keep track of your choices with periodic diary entries.</p>
    </div>
    <div class="col-8 col-lg-3 text-center mb-5 mb-lg-0">
      <i class="fas fa-chart-line fa-3x text-light"></i>
      <h3 class="pb-2 pt-4 primary-text">Track your perfomance over time</h3>
      <p class="primary-text">Meet your financial goals by keeping up an overview of your asset development over the years.</p>
    </div>
  </div>
  </div>
</section>

<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: #6a6cb5;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic" style="color:#F4F4F4;" >
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" style="color:#F4F4F4;">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic" style="color:#F4F4F4;">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic" style="color:#F4F4F4;">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" style="color:#F4F4F4;">
            <i class="fab fa-instagram white-text"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">My Financial Diary</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Start your journey towards your financial freedom!</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">MDBootstrap</a>
        </p>
        <p>
          <a href="#!">MDWordPress</a>
        </p>
        <p>
          <a href="#!">BrandFlow</a>
        </p>
        <p>
          <a href="#!">Bootstrap Angular</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Shipping Rates</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> Rudi-Dutschke-Straße 26, 10969 Berlin</p>
        <p>
          <i class="fas fa-envelope mr-3"></i>myfinancialdiary@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 49 01 234 567 88</p>
        <p>
          <i class="fas fa-print mr-3"></i> + 49 01 234 567 89</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"> LeWagon #741-Berlin
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
