<% @categories_hash[:"#{@asset.category}"].each do |asset| %>
  <%=link_to asset_path(Asset.where(user: current_user, name: asset[0]).take.id) do %>
    <div class="asset-card asset-card-light padding-x-spacing-5 padding-y-spacing-5 margin-bottom-spacing-3 <% if asset[0].to_s == @asset.sub_category%> active-card<% end %>">
      <div class="asset-card-body asset-card-body-light">
          <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 <% if asset[0].to_s == @asset.sub_category%> active-font<% end %>">
                      <%= asset[0].capitalize %>
                    </div>
                  <div class="margin-bottom-spacing-0 margin-top-spacing-3 asset-card-value font-weight-bold <% if asset[0].to_s == @asset.sub_category%> -active<% end %>">
                    <% if @latest_price_point != nil %>
                        <%= number_to_currency(asset[1][:value] / 100, precsion: 0, unit: "€") %>
                    <% else %>
                      -
                    <% end %>
                  </div>
                </div>
              <div class="col-auto">
                  <i class="<%= @category  %> fa-2x text-primary"></i>
              </div>
          </div>
      </div>
    </div>
  <% end %>
<% end %>
