<section class="margin-y-spacing-7">
  <div class="container padding-x-spacing-4 padding-lg-x-spacing-6">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 inner-container inner-container-light padding-y-spacing-7">
        <h2 class="text-center">Create a new asset</h2>
        <%= render "shared/form_new_asset", asset: @asset %>
      </div>
    </div>
  </div>
</section>
