.activities {
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgb(0, 0, 0 / 14%), 0 3px 1px -2px rgb(0, 0, 0 / 20%), 0 1px 5px 0 rgb(0, 0, 0 / 12%);
  &-category {
    width: 10%;
  }
  &-value {
    width: 15%;
  }
  &-date {
    width: 25%;
  }
  &-comment {
    width: 40%;
  }

  &-edit {
    width: 5%;
  }

  &-delete {
    width: 5%;
  }

  &-no-price-point {
    width: 100%;
  }

  &-row {
    border-bottom: 2px solid $salt-box;
  }

  &-light {
    background-color: $satin-linen;
    color: $charade;
  }

    &-dark {
    background-color: $charade;
    color: $satin-linen;
  }
}
