.hidden {
    display: none;
}

.display {
    display: flex;
}

.chart-btn {
  background-color: $pewter;
  border-radius: 5%;
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
  &:hover{
    background-color: $charade;
  }
}


.chart-btn-container{
  display: flex;
  justify-content: center;
  align-content: space-between;
}

.chart-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
