.hidden {
    display: none;
}

.display {
    display: flex;
}

.chart-btn {
  background-color: $pewter;
  border-radius: 5%;
  padding: 2px;
  margin-left: 8px;
  margin-right: 8px;
  &:hover{
    background-color: $charade;
  }
}

.chart-btn-container{
  display: flex;
  justify-content: center;
}
