.avatar {
  border-radius: 50% !important;
}
.navbar-lewagon {
  justify-content: space-between;
  background: $satin-linen;
  box-shadow: 0 2px 2px 0 rgb(0, 0, 0 / 14%), 0 3px 1px -2px rgb(0, 0, 0 / 20%), 0 1px 5px 0 rgb(0, 0, 0 / 12%);
  color: $title-dark;
  position: sticky;
  top:0;
  width: 100%;
  z-index: 99;
}

.nav-item .active {
  color: $title-dark !important;
}

.nav-link {
  color: $title-dark !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.dropdown-menu {
  background-color: $satin-linen !important;
  color: $title-dark !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important
}

.dropdown-lewagon {

  &:hover {
    background-color: $title-dark !important;
    color: $satin-linen !important;
  }
}

#navbar-button {
  background-color: transparent !important;
  border: none;
  color: $title-dark;
}
