<h2>Recent Activities</h2>
<div class="activities activities-light padding-x-spacing-5 padding-lg-x-spacing-6 padding-y-spacing-5">
  <% @price_points.each do |pp| %>
  <div class="d-flex padding-y-spacing-4">
    <span class="activities-category"><i class="<%=pp.asset.category  %> fa-2x text-primary"></i></span>
    <span class="activities-value"><%= number_to_currency( (pp.cents / 100), precision: 0, unit: "€") %></span>
    <span class="activities-date"><%= pp.date %></span>
    <span class="activities-comment"><%= pp.text %></span>
  </div>
  <% end %>
</div>
